.slot-machine-container {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    padding: 20px;
  }
  
  .carousel-wrapper {
    width: 20%; 
  }
  
  .carousel-wrapper h3 {
    font-size: 16px;
    color: white;
    background-color: #364d79;
    margin: 0;
    line-height: 160px;
    text-align: center;
  }
  